@import '../lesson/lesson';
@import '../main/main';

.navbar,
.footer {
    height: 50px;
    margin-bottom: 0px;
    line-height: 50px;
    border: none;
    border-radius: 0;
    z-index: 10;
}

.navbar {
    h3,
    a {
        margin: 0;
        color: #fff;
    }
}

.content {
    height: 93.5vh;
}

.content-main {
    .row {
        height: 89vh;
    }
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-thumb {
    background-color: #00cc99;
    border-radius: 30px;
    outline: none;
}