@import '../lesson/lesson';
@import '../module/module';

.navbar,
.footer {
    height: 50px;
    margin-bottom: 0px;
    line-height: 50px;
    border: none;
    border-radius: 0;
    z-index: 10;
}

.navbar {
    h3,
    a {
        margin: 0;
        color: #fff;
    }
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.breadcrumb-wrapper {
    position: relative;
    padding: 5px 0;
}

.breadcrumb {
    background: #d9edf7;
    margin: 0;
}

.back-button {
    position: absolute;
    top: 6px;
    right: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
    height: 0.6em;
    width: 0.6em;
}

::-webkit-scrollbar-thumb {
    background-color: #00cc99;
    border-radius: 30px;
    outline: none;
}