<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <uib-tabset active="active">
                <uib-tab index="0" heading="HTML">
                    <textarea id="textareaHtmlCode" ng-model="htmlCode" ng-change="updateHtmlCode(htmlCode)" spellcheck="false"></textarea>
                </uib-tab>
                <uib-tab index="1" heading="Script">
                    <textarea id="textareaScriptCode" ng-model="scriptCode" ng-change="updateScriptCode(scriptCode)" spellcheck="false"></textarea>
                </uib-tab>
            </uib-tabset>

            <button id="submitCodeButton" class="btn btn-success" ng-click="submitCode()">Submit</button>{{x}}
            <div id="iframeWrapper"></div>
        </div>
    </div>
</div>