#sideNav {
    padding: 30px;
    background: #ffffff;

    a {
        display: block;
    }
}

.section {
    padding: 30px;
    background: #ffffff;
    white-space: pre-line;
}

.breadcrumb {
    background: #d9edf7;
    margin: 0;
}

#contentSample {
    white-space: pre-wrap;
}