#sideNav {
    padding: 30px;
    background: #ffffff;

    a {
        display: block;
    }
}

.breadcrumb {
    background: #d9edf7;
    margin: 0;
}

.section {
    padding: 30px;
    background: #ffffff;
    white-space: pre-line;
}

.code-editor {
    height: 300px;
    width: 100%;
    resize: none;
}

#chapterContent {
    height: 80vh;
    text-align: justify;
    padding-right: 10px;
    overflow-y: scroll;
}

.code-buttons {
    margin: 10px 0;
}

#iframeWrapper {
    height: 300px;
    width: 100%;
    border: solid 1px #c3c3c3;
}

#iframeResult {
    height: 100%;
    width: 100%;
}