.content-main {
    .row {
        height: -webkit-calc(100vh - 96px);
        height: -moz-calc(100vh - 96px);
        height: calc(100vh - 96px);

        .col {
            height: inherit;
        }
    }
}

#sideNav {
    padding: 20px 10px;
    background: #ffffff;    

    a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.section {
    padding: 0 30px;
    background: #ffffff;
    white-space: pre-line;

    h1 {
        margin: 5px 0 0 0;
    }
}

#chapterContent {
    height: 74vh;
    text-align: justify;
    padding-right: 10px;
    overflow-y: scroll;

    h2,
    h3 {
        display: inline;
        margin: 0;
    }
}

.content-code-label {
    margin-bottom: 0;
    padding: 5px 10px 0 10px;
    width: 100%;
    font-size: 18px;
}

.content-code {
    margin: 0 !important;
    border: solid 10px #337ab7 !important;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    code {
        padding: 5px 10px;
    }
}

.code-editor {
    height: 260px;
    border: solid 1px #c3c3c3;
}

.ace_editor {
    font-size: 14px !important;
}

.code-buttons {
    margin: 10px 0;
}

#iframeWrapper {
    height: 300px;
    width: 100%;
    border: solid 1px #c3c3c3;
}

#iframeResult {
    height: 100%;
    width: 100%;
}