<div class="container-fluid bg-info">
	<div class="breadcrumb-wrapper">
		<ol class="breadcrumb bg-info">
			<li><a href="#/">Home</a></li>
			<li><a href="#/module">Modules</a></li>
			<li class="active">{{lesson.breadcrumb.lesson | toTitleCase}}</li>
		</ol>
		<a href="#/module" class="btn btn-primary back-button">Back</a>
	</div>
</div>

<div class="content-main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-sm-2 col">
				<div id="sideNav">
					<h4>{{lesson.breadcrumb.level | toTitleCase}}</h4>
					<a href="" ng-repeat="title in lesson.titleList" ng-click="lesson.choiceFunction(title)">
						<i class="mdi mdi-menu-right"></i>{{title | toTitleCase}}
					</a>
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col">
				<div class="section" ng-show="lesson.chapter">
					<h1>{{lesson.chapter.title}}</h1>
					<chapter-content content="lesson.chapter.content"></chapter-content>
				</div>
				<div ng-hide="lesson.chapter">Invalid link</div>
			</div>
			<div class="col-md-5 col-sm-5 col">
				<uib-tabset active="active">
					<uib-tab index="0" heading="HTML">
						<section class="code-editor" ng-model="lesson.code.html" ng-change="lesson.updateHtmlCode(lesson.code.html)" ui-ace="{useWrapMode: true, showGutter: true, mode: 'html'}"></section>
					</uib-tab>
					<uib-tab index="1" heading="Script">
						<section class="code-editor" ng-model="lesson.code.script" ng-change="lesson.updateScriptCode(lesson.code.script)" ui-ace="{useWrapMode: true, showGutter: true, mode: 'javascript'}"></section>
					</uib-tab>
					<uib-tab index="2" heading="Style">
						<section class="code-editor" ng-model="lesson.code.style" ng-change="lesson.updateStyleCode(lesson.code.style)" ui-ace="{useWrapMode: true, showGutter: true, mode: 'css'}"></section>
					</uib-tab>
				</uib-tabset>

				<button class="btn btn-success code-buttons" ng-click="lesson.submitCode()">Try It</button>
				<button class="btn btn-warning code-buttons" ng-click="lesson.resetCode()">Reset</button>
				<button class="btn btn-info code-buttons" ng-click="lesson.showExample()">Example</button>
				<div id="iframeWrapper"></div>
			</div>
		</div>
	</div>
</div>