<div class="container-fluid bg-info">
    <div class="container-fluid">
        <ol class="breadcrumb bg-info">
            <li><a href="#/">Home</a></li>
            <li class="active">{{breadcrumbLesson}}</li>
        </ol>
    </div>
</div>

<div class="content-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-2 col">
                <div id="sideNav">
                    <h4>Beginner</h4>
                    <repeat-link list="titleListBeginner"></repeat-link>
                    <hr>
                    <h4>Intermediate</h4>
                    <repeat-link list="titleListIntermediate"></repeat-link>
                    <hr>
                    <h4>Advance</h4>
                    <repeat-link list="titleListAdvance"></repeat-link>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col">
                <content ng-show="chapter" object="chapter"></content>
                <div ng-hide="chapter">Invalid link</div>
            </div>
            <div class="col-md-5 col-sm-5 col">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="HTML">
                        <textarea class="code-editor" ng-model="htmlCode.text" ng-change="updateHtmlCode(htmlCode.text)" spellcheck="false"></textarea>
                    </uib-tab>
                    <uib-tab index="1" heading="Script">
                        <textarea class="code-editor" ng-model="scriptCode.text" ng-change="updateScriptCode(scriptCode.text)" spellcheck="false"></textarea>
                    </uib-tab>
                    <uib-tab index="2" heading="Style">
                        <textarea class="code-editor" ng-model="styleCode.text" ng-change="updateStyleCode(styleCode.text)" spellcheck="false"></textarea>
                    </uib-tab>
                </uib-tabset>

                <button class="btn btn-success code-buttons" ng-click="submitCode()">Try It</button>
                <button class="btn btn-warning code-buttons" ng-click="resetCode()">Reset</button>
                <button class="btn btn-info code-buttons" ng-click="showExample()">Example</button>
                <div id="iframeWrapper"></div>
            </div>
        </div>
    </div>
</div>