.navbar, .footer {
    height: 50px;
    margin-bottom: 0px;
    line-height: 50px;
    border: none;
    border-radius: 0;
    z-index: 10;
}

.navbar h3, .navbar a {
    margin: 0;
    color: #fff;
}

.content-main .row {
    height: 83vh;
}

.content {
    height: 87.5vh;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

#sideNav, .section {
    padding: 30px;
    background: #ffffff;
}

#sideNav a {
    display: block;
}

.section {
    white-space: pre-line;
}

.breadcrumb {
    background: #d9edf7;
    margin: 0;
}

a:first-child .lesson-div {
    margin-top: 100px;
}

.lesson-div {
    height: 100px;
    margin: 20px 0;
}

.lesson-div img {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.lesson-div label {
    font-size: 24px;
    cursor: pointer;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-thumb {
    background-color: #00cc99;
    border-radius: 30px;
    outline: none;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}