.level-col {
    height: -webkit-calc(100vh - 86px);
    height: -moz-calc(100vh - 86px);
    height: calc(100vh - 86px);
    padding: 0;

    a {
        display: block;
        height: inherit;
        width: 100%;
    }

    h1 {        
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        text-align: center;
    }
}

