.content,
.content .container {
    height: -webkit-calc(100vh - 96px);
    height: -moz-calc(100vh - 96px);
    height: calc(100vh - 96px);
    
    .container {
        position: relative;
    }
}

.lessons-container,
.level-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.lessons-container {
    margin: -202px 0 0 -508px;
}

.lesson-div {
    position: absolute;
    height: 200px;
    width: 200px;
    margin: 2px;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: top 0.3s, left 0.3s, opacity 0.3s, visibility 0.3s;
    -moz-transition: top 0.3s, left 0.3s, opacity 0.3s, visibility 0.3s;
    transition: top 0.3s, left 0.3s, opacity 0.3s, visibility 0.3s;
    
    span {
        position: absolute;
        top: 80%;
        left: 5%;
        width: 100%;
    }

    .icon-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 200px;
        width: 200px;
        font-size: 200px;
        line-height: 200px;
        opacity: 0.06;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .lesson-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80px;
        width: 80px;
        margin: -40px 0 0 -40px;
        font-size: 80px;
        line-height: 80px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    &:hover {
        .icon-background {
            top: 50%;
            left: 50%;
            height: 80px;
            width: 80px;
            margin: -40px 0 0 -40px;
            font-size: 80px;
            line-height: 80px;
        }

        .lesson-icon {
            height: 100px;
            width: 100px;
            margin: -50px 0 0 -50px;
            font-size: 100px;
            line-height: 100px;
        }
    }
}

.show-lesson {
    top: 0 !important;
    left: 0 !important;
}

.hide-lesson {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}

.level-container {
    width: 500px;
    margin: -200px 0 0 -250px;

    a {
        position: relative;
        display: block;
        left: 200px;
        height: 100px;
        margin-bottom: 30px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        opacity: 0;
        visibility: hidden;

        h1 {
            margin: 0;
            line-height: 100px;
            -webkit-transition: font-size 0.3s;
            -moz-transition: font-size 0.3s;
            transition: font-size 0.3s;
        }
    }

    a.show {
        left: 0 !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    a:hover {
        h1 {
            font-size: 40px;
        }
    }
}

.level-back-button {
    position: absolute;
    top: 280px;
    left: 70px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &.show {
        opacity: 1 !important;
        visibility: visible !important;
    }

    &:focus {
        outline: none;
    }
}

#moduleFilterContainer {
    position: absolute;
    top: 7%;
    left: 50%;
    height: 40px;
    width: 500px;
    margin: 0 0 0 -250px;

    label, input {
        float: left;
        height: 40px;
        margin: 0 !important;
    }
    
    label {
        width: 20%;
        background: #337ab7;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 40px;
        border-radius: 5px 0 0 5px;
    }

    input {
        width: 80%;
        padding: 0 8px;
        background: #fafafa;
        font-size: 18px;
        border: solid 1px #777;
        border-radius: 0 5px 5px 0;
    }

    input:focus {
        outline: none;
        border-color: #337ab7;
    }
}

.module-pagination {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);

    a[disabled = 'disabled'] {
        cursor: default !important;
        outline: none;
    }
}

$level-color: #5cb85c, #f0ad4e, #5bc0de;
@for $i from 1 through 3 {
    .level-container {
        a:nth-child(#{$i}) {
            background-color: nth($level-color, $i);
            -webkit-transition: all 0.3s ((0.2 + ($i/16)) * 1s);
            -moz-transition: all 0.3s ((0.2 + ($i/16)) * 1s);
            transition: all 0.3s ((0.2 + ($i/16)) * 1s);
        }
    }
}

$lesson-div: lesson-div;
@for $i from 1 through 10 {
    @if $i == 1 {
        .#{lesson-div}:nth-child(#{$i}) {
            left: ((200 * $i) - 200) * 1px;
        }
    } @else {
        .#{lesson-div}:nth-child(#{$i}) {
            left: (((200 * $i) + (4 * $i)) - 204) * 1px;
        }
    }

    @if $i > 5 {
        .#{lesson-div}:nth-child(#{$i}) {
            top: 204px;
            left: (((200 * $i) + (4 * $i)) - 1224) * 1px;
        }
    }
}