a:hover {
    text-decoration: none;
}

.lesson-div {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 200px 0;
    padding: 10px 20px;
    
    span {
        position: absolute;
        top: 80%;
        left: 5%;
        width: 100%;
    }

    .icon-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 200px;
        width: 200px;
        font-size: 200px;
        line-height: 200px;
        opacity: 0.06;
    }

    .lesson-icon {
        position: absolute;
        top: 40%;
        left: 50%;
        margin: -40px 0 0 -40px;
        font-size: 80px;
    }
}